html,
body {
	background-color: #14181c !important;
	color: white !important;
}

.logoTitle {
	font-family: TiemposHeadlineWeb-Bold, Georgia, serif;
	font-weight: 600;
}
.streamingCard {
	width: 25%;
}

.streamingLogo {
	img {
		width: 50%;
		height: 50px;
	}
	margin-bottom: 10px;
}

a {
	color: white !important;
	text-decoration: none !important;
}
