html,
body {
  background-color: #14181c !important;
  color: white !important;
  font-family: Georgia, serif !important;
}

.logoTitle {
  font-family: Georgia, serif;
  h1 {
    font-weight: bolder !important;
  }

  img {
    width: 65px;
    height: 25px;
    margin-bottom: 5px;
    margin-right: 10px;
  }
}
.streamingContainer {
  // align-items: flex-start;
  margin-left: 0;
  min-width: 25%;
  max-width: 30%;
}

@media (max-width: 985px) {
  .streamingContainer {
    // align-items: flex-start;
    margin-left: 0;
    max-width: 90%;
  }
  .quickLinks {
    display: flex;
    flex-wrap: wrap;
    width: 90% !important;
  }
  .quickLink {
    margin-bottom: 20px;
  }
  .streamingCardAllMovies {
  }
  .allMoviesContainer {
    width: 100%;
    margin-left: 0;
  }
  .allMoviesContainer {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .movieCardSmall {
    width: 120px !important;
    img {
      height: 100px !important;
      width: 67px !important;
      cursor: pointer;
    }
    span {
      cursor: pointer;
    }
  }
}

.allMoviesContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.quickLinks {
  width: 75%;
  justify-content: space-around;
}

.quickLink {
  width: 100px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: block;
  img {
    width: 80px;
    height: 20px;
    display: block;
  }
}

.streamingCard {
  width: 100%;

  border: 4px solid white;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.allMoviesParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieCard {
  img {
    height: 200px;
    width: auto;
    cursor: pointer;
  }
  span {
    cursor: pointer;
  }
  &:hover {
    text-decoration: underline;
  }
}

.movieCardSmall {
  width: 200px;
}

.streamingLogo {
  display: flex;
  align-self: center;
  justify-content: center;
  img {
    width: 50%;
    height: 50px;
  }
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 20px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.allMoviesLink {
  color: lightgreen !important;
  text-decoration: underline !important;
}

.scrollToTop {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  position: fixed;
  bottom: 40px;
  left: 50px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: gray;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: transparent;
  animation: fadeIn 2s;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.submitButton {
  height: 33px;
  padding-left: 15px;
  padding-right: 15px;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);

  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}
