html,
body {
  background-color: #14181c !important;
  color: white !important;
  font-family: Georgia, serif !important;
}

.logoTitle {
  font-family: Georgia, serif;
  h1 {
    font-weight: bolder !important;
  }

  img {
    width: 65px;
    height: 25px;
    margin-bottom: 5px;
    margin-right: 10px;
  }
}
.streamingContainer {
  // align-items: flex-start;
  margin-left: 0;
  min-width: 25%;
  max-width: 30%;
}

@media (max-width: 985px) {
  .streamingContainer {
    // align-items: flex-start;
    margin-left: 0;
    max-width: 90%;
  }
}

.streamingCard {
  width: 100%;

  border: 4px solid white;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.allMoviesContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.allMoviesParent {
  display: flex;
  flex-wrap: wrap;
}

.movieCard {
  img {
    height: 150px;
    width: auto;
    cursor: pointer;
  }
  span {
    cursor: pointer;
  }
  &:hover {
    text-decoration: underline;
  }
}

.streamingLogo {
  display: flex;
  align-self: center;
  justify-content: center;
  img {
    width: 50%;
    height: 50px;
  }
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 20px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.allMoviesLink {
  color: lightgreen !important;
  text-decoration: underline !important;
}
